@model LeavManagemnt_.NET6.Models.EmployeeAllocationVM

@{
    ViewData["Title"] = "ViewAllocations";
}

<h1>ViewAllocations for employee : @Model.FirstName @Model.LastName</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateJoined)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div class="card">
    <div class="card-header">
        Leave Allocations
    </div>
    <ul class="list-group list-group-flush">
            @foreach(var allocation in Model.LeaveAllocations){ 
            <li class="list-group-item">
                <h6>@allocation.LeaveType.Name
                <button type="button" class="btn btn-primary">
                    Allocated Days : <span class="badge text-bg-secondary">@allocation.LeaveType.DefaultDays</span>
                </button>
                <button type="button" class="btn btn-primary">
                    Remaning Days :  <span class="badge text-bg-secondary">@allocation.NumberOfDays</span>
                </button>
                    <a type="button" asp-action="EditAllocation" asp-route-allocationId="@allocation.Id" class="btn btn-warning">Edit</a>
                </h6>
            </li>
            }   
    </ul>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>