@model LeavManagemnt_.NET6.Models.LeaveRequestVM

@{
    ViewData["Title"] = "Request Details";
    string className;
    string approvedStatus;
    if(Model.Approved == null){
        className = "warning";
        approvedStatus = "Request is Pending";
    }else if(Model.Approved == true){
        className = "success";
        approvedStatus = "Request Approved";
    }else{
        className = "danger";
        approvedStatus = "Request Rejected";
    }
}

<h1>Leave Request Details</h1>

<div class="alert alert-@className" role="alert">
    <h4 class="alert-heading">@approvedStatus</h4>
    <hr>
    <strong>Employee Name : </strong> @Model.Employee.FirstName
    <br />
    <strong>Date Requested : </strong> @Model.DateRequested
</div>

<div>
    <h4>LeaveRequestVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveType.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestComment)
        </dd>
    </dl>
</div>
<div>
    @if(Model.Approved == null){
        <form asp-action="ApproveRequest">
            <input type="hidden" name="Id" value="@Model.Id">
            <input type="hidden" name="approved" value="true">
            <button class="btn btn-success" type="submit">Approve</button>
        </form>
        <form asp-action="ApproveRequest">
            <input type="hidden" name="Id" value="@Model.Id">
            <input type="hidden" name="approved" value="false">
            <button class="btn btn-danger" type="submit">Reject</button>
        </form>
    }
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
